@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #323232;
}

::-webkit-scrollbar-thumb {
  background: #66fce1;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.small-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
